[Service]
{% if container_binary == 'docker' %}
ExecStart=
ExecStart=/usr/bin/{{ container_binary }} run --rm --name=ceph-mon-%i --net=host \
  --memory={{ ceph_mon_docker_memory_limit }} \
  -v /var/lib/ceph:/var/lib/ceph:z \
  -v /etc/ceph:/etc/ceph:z \
  -v /var/run/ceph:/var/run/ceph:z \
  {{ ceph_docker_registry }}/{{ ceph_docker_image }}:{{ ceph_docker_image_tag }} \
  /usr/bin/ceph-mon -f --cluster {{ cluster }} --id %i --setuser ceph --setgroup ceph
{% endif %}
